.bg-wallpaper{
    background-image: url("assets/potabi-no-text.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.card{
    padding: 2rem 5rem;
    background-color: white;
    border-radius: 1000000rem;
    box-shadow: .5rem .5rem .25rem #252525;
    gap: 1rem;
}

.button{
    border-radius: 100000rem;
}

.grid{
    display: grid;
    gap: 1rem;
}