// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

// Set your brand colors
$purple: #5a3051
$pink: #ff00b5
$brown: #757763
$beige-light: #D0D1CD
$beige-lighter: #EFF0EB

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif
$grey-dark: $brown
$grey-light: $beige-light
$primary: $purple
$link: $pink

// Update some of Bulma's component variables
$control-border-width: 2px
$input-background-color: $beige-lighter
$input-border-color: transparent
$input-shadow: none

// Import the rest of Bulma
@import "./node_modules/bulma/bulma"

// Other site features
.banner-text
    background-color: #ddd
    border-radius: 1rem
    padding: 3rem

.tab-pane 
    display: none

.tab-pane.is-active 
    display: block
    width: 50%
    position: relative
    left: 50%
    transform: translateX(-50%)

.is-active 
    display: initial

.width75percent
    width: 75%
    margin-left: auto
    margin-right: auto

.banner-section
    background-image: linear-gradient(#ff00b5, #a50076)